#! /bin/sh
export TRANSMISSION_HOME=${TRANSMISSION_HOME}
export TRANSMISSION_ALT_SPEED_DOWN=${TRANSMISSION_ALT_SPEED_DOWN}
export TRANSMISSION_ALT_SPEED_ENABLED=${TRANSMISSION_ALT_SPEED_ENABLED}
export TRANSMISSION_ALT_SPEED_TIME_BEGIN=${TRANSMISSION_ALT_SPEED_TIME_BEGIN}
export TRANSMISSION_ALT_SPEED_TIME_DAY=${TRANSMISSION_ALT_SPEED_TIME_DAY}
export TRANSMISSION_ALT_SPEED_TIME_ENABLED=${TRANSMISSION_ALT_SPEED_TIME_ENABLED}
export TRANSMISSION_ALT_SPEED_TIME_END=${TRANSMISSION_ALT_SPEED_TIME_END}
export TRANSMISSION_ALT_SPEED_UP=${TRANSMISSION_ALT_SPEED_UP}
export TRANSMISSION_BIND_ADDRESS_IPV4=${TRANSMISSION_BIND_ADDRESS_IPV4}
export TRANSMISSION_BIND_ADDRESS_IPV6=${TRANSMISSION_BIND_ADDRESS_IPV6}
export TRANSMISSION_BLOCKLIST_ENABLED=${TRANSMISSION_BLOCKLIST_ENABLED}
export TRANSMISSION_BLOCKLIST_URL=${TRANSMISSION_BLOCKLIST_URL}
export TRANSMISSION_CACHE_SIZE_MB=${TRANSMISSION_CACHE_SIZE_MB}
export TRANSMISSION_DHT_ENABLED=${TRANSMISSION_DHT_ENABLED}
export TRANSMISSION_DOWNLOAD_DIR=${TRANSMISSION_DOWNLOAD_DIR}
export TRANSMISSION_DOWNLOAD_LIMIT=${TRANSMISSION_DOWNLOAD_LIMIT}
export TRANSMISSION_DOWNLOAD_LIMIT_ENABLED=${TRANSMISSION_DOWNLOAD_LIMIT_ENABLED}
export TRANSMISSION_DOWNLOAD_QUEUE_ENABLED=${TRANSMISSION_DOWNLOAD_QUEUE_ENABLED}
export TRANSMISSION_DOWNLOAD_QUEUE_SIZE=${TRANSMISSION_DOWNLOAD_QUEUE_SIZE}
export TRANSMISSION_ENCRYPTION=${TRANSMISSION_ENCRYPTION}
export TRANSMISSION_IDLE_SEEDING_LIMIT=${TRANSMISSION_IDLE_SEEDING_LIMIT}
export TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED=${TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED}
export TRANSMISSION_INCOMPLETE_DIR=${TRANSMISSION_INCOMPLETE_DIR}
export TRANSMISSION_INCOMPLETE_DIR_ENABLED=${TRANSMISSION_INCOMPLETE_DIR_ENABLED}
export TRANSMISSION_LPD_ENABLED=${TRANSMISSION_LPD_ENABLED}
export TRANSMISSION_MAX_PEERS_GLOBAL=${TRANSMISSION_MAX_PEERS_GLOBAL}
export TRANSMISSION_MESSAGE_LEVEL=${TRANSMISSION_MESSAGE_LEVEL}
export TRANSMISSION_PEER_CONGESTION_ALGORITHM=${TRANSMISSION_PEER_CONGESTION_ALGORITHM}
export TRANSMISSION_PEER_ID_TTL_HOURS=${TRANSMISSION_PEER_ID_TTL_HOURS}
export TRANSMISSION_PEER_LIMIT_GLOBAL=${TRANSMISSION_PEER_LIMIT_GLOBAL}
export TRANSMISSION_PEER_LIMIT_PER_TORRENT=${TRANSMISSION_PEER_LIMIT_PER_TORRENT}
export TRANSMISSION_PEER_PORT=${TRANSMISSION_PEER_PORT}
export TRANSMISSION_PEER_PORT_RANDOM_HIGH=${TRANSMISSION_PEER_PORT_RANDOM_HIGH}
export TRANSMISSION_PEER_PORT_RANDOM_LOW=${TRANSMISSION_PEER_PORT_RANDOM_LOW}
export TRANSMISSION_PEER_PORT_RANDOM_ON_START=${TRANSMISSION_PEER_PORT_RANDOM_ON_START}
export TRANSMISSION_PEER_SOCKET_TOS=${TRANSMISSION_PEER_SOCKET_TOS}
export TRANSMISSION_PEX_ENABLED=${TRANSMISSION_PEX_ENABLED}
export TRANSMISSION_PORT_FORWARDING_ENABLED=${TRANSMISSION_PORT_FORWARDING_ENABLED}
export TRANSMISSION_PREALLOCATION=${TRANSMISSION_PREALLOCATION}
export TRANSMISSION_PREFETCH_ENABLED=${TRANSMISSION_PREFETCH_ENABLED}
export TRANSMISSION_QUEUE_STALLED_ENABLED=${TRANSMISSION_QUEUE_STALLED_ENABLED}
export TRANSMISSION_QUEUE_STALLED_MINUTES=${TRANSMISSION_QUEUE_STALLED_MINUTES}
export TRANSMISSION_RATIO_LIMIT=${TRANSMISSION_RATIO_LIMIT}
export TRANSMISSION_RATIO_LIMIT_ENABLED=${TRANSMISSION_RATIO_LIMIT_ENABLED}
export TRANSMISSION_RENAME_PARTIAL_FILES=${TRANSMISSION_RENAME_PARTIAL_FILES}
export TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=${TRANSMISSION_RPC_AUTHENTICATION_REQUIRED}
export TRANSMISSION_RPC_BIND_ADDRESS=${TRANSMISSION_RPC_BIND_ADDRESS}
export TRANSMISSION_RPC_ENABLED=${TRANSMISSION_RPC_ENABLED}
export TRANSMISSION_RPC_PASSWORD=${TRANSMISSION_RPC_PASSWORD}
export TRANSMISSION_RPC_PORT=${TRANSMISSION_RPC_PORT}
export TRANSMISSION_RPC_URL=${TRANSMISSION_RPC_URL}
export TRANSMISSION_RPC_USERNAME=${TRANSMISSION_RPC_USERNAME}
export TRANSMISSION_RPC_WHITELIST=${TRANSMISSION_RPC_WHITELIST}
export TRANSMISSION_RPC_WHITELIST_ENABLED=${TRANSMISSION_RPC_WHITELIST_ENABLED}
export TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED=${TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED}
export TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED=${TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED}
export TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME=${TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME}
export TRANSMISSION_SEED_QUEUE_ENABLED=${TRANSMISSION_SEED_QUEUE_ENABLED}
export TRANSMISSION_SEED_QUEUE_SIZE=${TRANSMISSION_SEED_QUEUE_SIZE}
export TRANSMISSION_SPEED_LIMIT_DOWN=${TRANSMISSION_SPEED_LIMIT_DOWN}
export TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED=${TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED}
export TRANSMISSION_SPEED_LIMIT_UP=${TRANSMISSION_SPEED_LIMIT_UP}
export TRANSMISSION_SPEED_LIMIT_UP_ENABLED=${TRANSMISSION_SPEED_LIMIT_UP_ENABLED}
export TRANSMISSION_START_ADDED_TORRENTS=${TRANSMISSION_START_ADDED_TORRENTS}
export TRANSMISSION_TRASH_ORIGINAL_TORRENT_FILES=${TRANSMISSION_TRASH_ORIGINAL_TORRENT_FILES}
export TRANSMISSION_UMASK=${TRANSMISSION_UMASK}
export TRANSMISSION_UPLOAD_LIMIT=${TRANSMISSION_UPLOAD_LIMIT}
export TRANSMISSION_UPLOAD_LIMIT_ENABLED=${TRANSMISSION_UPLOAD_LIMIT_ENABLED}
export TRANSMISSION_UPLOAD_SLOTS_PER_TORRENT=${TRANSMISSION_UPLOAD_SLOTS_PER_TORRENT}
export TRANSMISSION_UTP_ENABLED=${TRANSMISSION_UTP_ENABLED}
export TRANSMISSION_WATCH_DIR=${TRANSMISSION_WATCH_DIR}
export TRANSMISSION_WATCH_DIR_ENABLED=${TRANSMISSION_WATCH_DIR_ENABLED}

# Transmission needs to know which VPN provider is used
export OPENVPN_PROVIDER=${OPENVPN_PROVIDER}
