{
    "alt-speed-down": ${TRANSMISSION_ALT_SPEED_DOWN},
    "alt-speed-enabled": ${TRANSMISSION_ALT_SPEED_ENABLED},
    "alt-speed-time-begin": ${TRANSMISSION_ALT_SPEED_TIME_BEGIN},
    "alt-speed-time-day": ${TRANSMISSION_ALT_SPEED_TIME_DAY},
    "alt-speed-time-enabled": ${TRANSMISSION_ALT_SPEED_TIME_ENABLED},
    "alt-speed-time-end": ${TRANSMISSION_ALT_SPEED_TIME_END},
    "alt-speed-up": ${TRANSMISSION_ALT_SPEED_UP},
    "bind-address-ipv4": "${TRANSMISSION_BIND_ADDRESS_IPV4}",
    "bind-address-ipv6": "${TRANSMISSION_BIND_ADDRESS_IPV6}",
    "blocklist-enabled": ${TRANSMISSION_BLOCKLIST_ENABLED},
    "blocklist-url": "${TRANSMISSION_BLOCKLIST_URL}",
    "cache-size-mb": ${TRANSMISSION_CACHE_SIZE_MB},
    "dht-enabled": ${TRANSMISSION_DHT_ENABLED},
    "download-dir": "${TRANSMISSION_DOWNLOAD_DIR}",
    "download-limit": ${TRANSMISSION_DOWNLOAD_LIMIT},
    "download-limit-enabled": ${TRANSMISSION_DOWNLOAD_LIMIT_ENABLED},
    "download-queue-enabled": ${TRANSMISSION_DOWNLOAD_QUEUE_ENABLED},
    "download-queue-size": ${TRANSMISSION_DOWNLOAD_QUEUE_SIZE},
    "encryption": ${TRANSMISSION_ENCRYPTION},
    "idle-seeding-limit": ${TRANSMISSION_IDLE_SEEDING_LIMIT},
    "idle-seeding-limit-enabled": ${TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED},
    "incomplete-dir": "${TRANSMISSION_INCOMPLETE_DIR}",
    "incomplete-dir-enabled": ${TRANSMISSION_INCOMPLETE_DIR_ENABLED},
    "lpd-enabled": ${TRANSMISSION_LPD_ENABLED},
    "max-peers-global": ${TRANSMISSION_MAX_PEERS_GLOBAL},
    "message-level": ${TRANSMISSION_MESSAGE_LEVEL},
    "peer-congestion-algorithm": "${TRANSMISSION_PEER_CONGESTION_ALGORITHM}",
    "peer-id-ttl-hours": ${TRANSMISSION_PEER_ID_TTL_HOURS},
    "peer-limit-global": ${TRANSMISSION_PEER_LIMIT_GLOBAL},
    "peer-limit-per-torrent": ${TRANSMISSION_PEER_LIMIT_PER_TORRENT},
    "peer-port": ${TRANSMISSION_PEER_PORT},
    "peer-port-random-high": ${TRANSMISSION_PEER_PORT_RANDOM_HIGH},
    "peer-port-random-low": ${TRANSMISSION_PEER_PORT_RANDOM_LOW},
    "peer-port-random-on-start": ${TRANSMISSION_PEER_PORT_RANDOM_ON_START},
    "peer-socket-tos": "${TRANSMISSION_PEER_SOCKET_TOS}",
    "pex-enabled": ${TRANSMISSION_PEX_ENABLED},
    "port-forwarding-enabled": ${TRANSMISSION_PORT_FORWARDING_ENABLED},
    "preallocation": ${TRANSMISSION_PREALLOCATION},
    "prefetch-enabled": ${TRANSMISSION_PREFETCH_ENABLED},
    "queue-stalled-enabled": ${TRANSMISSION_QUEUE_STALLED_ENABLED},
    "queue-stalled-minutes": ${TRANSMISSION_QUEUE_STALLED_MINUTES},
    "ratio-limit": ${TRANSMISSION_RATIO_LIMIT},
    "ratio-limit-enabled": ${TRANSMISSION_RATIO_LIMIT_ENABLED},
    "rename-partial-files": ${TRANSMISSION_RENAME_PARTIAL_FILES},
    "rpc-authentication-required": ${TRANSMISSION_RPC_AUTHENTICATION_REQUIRED},
    "rpc-bind-address": "${TRANSMISSION_RPC_BIND_ADDRESS}",
    "rpc-enabled": ${TRANSMISSION_RPC_ENABLED},
    "rpc-password": "${TRANSMISSION_RPC_PASSWORD}",
    "rpc-port": ${TRANSMISSION_RPC_PORT},
    "rpc-url": "${TRANSMISSION_RPC_URL}",
    "rpc-username": "${TRANSMISSION_RPC_USERNAME}",
    "rpc-whitelist": "${TRANSMISSION_RPC_WHITELIST}",
    "rpc-whitelist-enabled": ${TRANSMISSION_RPC_WHITELIST_ENABLED},
    "scrape-paused-torrents-enabled": ${TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED},
    "script-torrent-done-enabled": ${TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED},
    "script-torrent-done-filename": "${TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME}",
    "seed-queue-enabled": ${TRANSMISSION_SEED_QUEUE_ENABLED},
    "seed-queue-size": ${TRANSMISSION_SEED_QUEUE_SIZE},
    "speed-limit-down": ${TRANSMISSION_SPEED_LIMIT_DOWN},
    "speed-limit-down-enabled": ${TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED},
    "speed-limit-up": ${TRANSMISSION_SPEED_LIMIT_UP},
    "speed-limit-up-enabled": ${TRANSMISSION_SPEED_LIMIT_UP_ENABLED},
    "start-added-torrents": ${TRANSMISSION_START_ADDED_TORRENTS},
    "trash-original-torrent-files": ${TRANSMISSION_TRASH_ORIGINAL_TORRENT_FILES},
    "umask": ${TRANSMISSION_UMASK},
    "upload-limit": ${TRANSMISSION_UPLOAD_LIMIT},
    "upload-limit-enabled": ${TRANSMISSION_UPLOAD_LIMIT_ENABLED},
    "upload-slots-per-torrent": ${TRANSMISSION_UPLOAD_SLOTS_PER_TORRENT},
    "utp-enabled": ${TRANSMISSION_UTP_ENABLED},
    "watch-dir": "${TRANSMISSION_WATCH_DIR}",
    "watch-dir-enabled": ${TRANSMISSION_WATCH_DIR_ENABLED}
}
